# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

# Object Creation
# Viewing Data
1조: 처음~22번

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats

In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.038505 -1.167585 -1.336534  0.089177
2013-01-02 -0.721064  1.160822 -0.291106  0.782514
2013-01-03 -0.735768 -0.966903  0.203481 -0.630711
2013-01-04  0.468277  1.145166 -2.236549 -1.558934
2013-01-05  1.097254  0.105656 -0.341843 -0.198379
2013-01-06 -0.634519  1.712039 -0.237186 -0.739356

## Apply

함수를 데이터에 적용합니다.

In [6]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.038505 -1.167585 -1.336534  0.089177
2013-01-02 -0.759569 -0.006763 -1.627640  0.871690
2013-01-03 -1.495336 -0.973666 -1.424159  0.240980
2013-01-04 -1.027059  0.171500 -3.660708 -1.317955
2013-01-05  0.070194  0.277157 -4.002552 -1.516334
2013-01-06 -0.564324  1.989195 -4.239737 -2.255690

In [7]:
df.apply(lambda x: x.max() - x.min())

A    1.833021
B    2.879624
C    2.440030
D    2.341448
dtype: float64

## Histogramming
See more at Histogramming and Discretization.

In [8]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [9]:
In [69]: s

0    1
1    1
2    4
3    5
4    5
5    4
6    0
7    5
8    2
9    3
dtype: int32

In [10]:
In [70]: s.value_counts()

5    3
4    2
1    2
3    1
2    1
0    1
dtype: int64

## String Methods

# Merge
## Concat
## Join
## Append
4조: 73~90번

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝